<mt:Include module="config" />
/* ==================================================
    共通
================================================== */
/* 不要なフィールド等を非表示 */
/* ヘルプ */
.active-userjs #help,
/* サポート */
.active-userjs #support,
/* フッターナビ */
.active-userjs #footer-nav,
/* クイック投稿 */
.active-userjs #quickpost,
/* コメントウィジェット */
.active-userjs #feedback-field,
/* 記事アイテムウィジェット */
.active-userjs #assets-field {
  display: none !important;
}
/* 表示オプション */
.active-userjs.edit-entry #menu-bar-nav .toggle-link-wrapper {
/*  display: none !important;*/
}

/* MTAppListing の id カラムを調整 */
.active-userjs #mtapplisting-dialog table .id {
  width: 5em;
  text-align: center;
}

/* Sidebar Asset のタブを非表示 */
.active-userjs #menu_tabs .trigger_sidebarassets {
  display: none;
}

/* 不要なサイドメニューを非表示 */
.customized-menu #menu-page,
.customized-menu #menu-folder,
.customized-menu #menu-customobject,
.customized-menu #menu-asset,
.customized-menu #menu-campaign,
.customized-menu #menu-link,
.customized-menu #menu-objectgroup,
.customized-menu #menu-user,
.customized-menu #menu-contactform,
.customized-menu #menu-design,
.customized-menu #menu-custom_fields,
.customized-menu #menu-feedback,
.customized-menu #menu-powerrevision,
.customized-menu #menu-tools,
.customized-menu #menu-plugins,
.customized-menu #menu-settings,
.customized-menu #menu-library,
.customized-menu #menu-mailmagazine {
  display: none !important;
}
/* コースはカテゴリを表示
.customized-menu.blog-<mt:Var name="blog_id_course" /> #menu-category,*/
.customized-menu.blog-<mt:Var name="blog_id_freedrink" /> #menu-category,
.customized-menu.blog-<mt:Var name="blog_id_option" /> #menu-category,
.customized-menu.blog-<mt:Var name="blog_id_form" /> #menu-category {
  display: none !important;
}

/* 記事メニューの調整 */
.customized-menu #menu-entry .sub-menu li              { display: none; }
.customized-menu #menu-entry .sub-menu li:first-child  { display: block; }
.customized-menu #menu-entry .sub-menu li:nth-child(3) { display: block; }
.customized-menu #menu-entry .sub-menu li:nth-child(6) { display: block; }

/* カテゴリメニューの調整 */
.customized-menu #menu-category .sub-menu li             { display: none; }
.customized-menu #menu-category .sub-menu li:first-child { display: block; }

/* サイトの表示を非表示 */
.customized-menu#view-site {
  display: none !important;
}

/* 公開ウィジェットの中のフィールドを調整 */
.active-userjs.edit-entry #change_author_id-field,
.active-userjs.edit-entry #pcms_unpublished_on-field,
.active-userjs.edit-entry #unpublished_on-field,
.active-userjs.edit-entry #authored_on-field,
.active-userjs.edit-entry #basename-field,
.active-userjs.edit-entry #revision_comment-field,
.active-userjs.edit-entry #entry_history-field {
  display: none !important;
}

/* ドラッグ&ドロップのハンドルを非表示 */
.active-userjs.edit-entry .sort-enabled .field-header {
  padding-left: 0;
  background-image: inherit;
}
.active-userjs.edit-entry .sort-enabled .field-header:hover {
  cursor: auto;
}
.active-userjs.edit-entry .sort-enabled .field-header label {
  margin-left: 10px;
}
/*  End - 共通  */

/* ==================================================
    プランマトリクス管理：コース
================================================== */
/* プレビューボタンを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_course" /> button.preview {
  display: none !important;
}

/* カテゴリウィジェットを非表示 */
/*.active-userjs.blog-<mt:Var name="blog_id_course" /> #category-field {
  display: none !important;
}*/
/* カテゴリ追加ボタンを非表示 */
.customized-menu.blog-<mt:Var name="blog_id_course" /> #category-selector .add-category-new-parent-link,
.customized-menu.blog-<mt:Var name="blog_id_course" /> #category-selector .add-category-new-link{
  display: none !important;
}
/*  End - プランマトリクス管理：コース  */

/* ==================================================
    プランマトリクス管理：飲み放題
================================================== */
/* プレビューボタンを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_freedrink" /> button.preview {
  display: none !important;
}
/* カテゴリウィジェットを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_freedrink" /> #category-field {
  display: none !important;
}
/*  End - プランマトリクス管理：飲み放題  */

/* ==================================================
    プランマトリクス管理：オプション
================================================== */
/* プレビューボタンを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_option" /> button.preview {
  display: none !important;
}
/* カテゴリウィジェットを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_option" /> #category-field {
  display: none !important;
}
/*  End - プランマトリクス管理：オプション  */

/* ==================================================
    店舗管理
================================================== */
/* プレビューボタンを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_store" /> button.preview {
  display: none !important;
}

/* 公開ウィジェットの中のフィールドを調整 */
.active-userjs.blog-<mt:Var name="blog_id_store" /> #revision_comment-field,
.active-userjs.blog-<mt:Var name="blog_id_store" /> #entry_history-field {
  display: block !important;
}
/* 同期ウィジェットを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_store" /> #menu-copy2public {
  display: none !important;
}
/*  End - 店舗管理  */

/* ==================================================
    Webフォーム管理
================================================== */
/* プレビューボタンを非表示 */
/*.active-userjs.blog-<mt:Var name="blog_id_form" /> button.preview {
  display: none !important;
}*/
/* TinyMCEのボタンを非表示 */
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_justifyleft{
    display: none;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_justifycenter{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_justifyright{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_bullist{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_indent{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_outdent{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_styleselect{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_pastetext{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_pasteword{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_tablecontrols{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_mt-image{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_mt-file{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_fullscreen{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_table{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_row_props{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_cell_props{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_row_before{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_row_after{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_delete_row{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_col_before{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_col_after{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_delete_col{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_split_cells{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_merge_cells{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mceSeparator{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mceText{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mceListBox{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> .mce_template{
    display: none !important;
}
.active-userjs.blog-<mt:Var name="blog_id_form" /> #field-convert_breaks{
    display: none !important;
}
/*  End - Webフォーム管理  */
